
@{
    ViewBag.Title = "Grow";
}

<div>
    <img src="~/Content/img/grow_header.png" />
</div>

<div id="rc-grow" class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/img/life-groups_sm-tile.png" data-toggle="modal" data-target="#life-groups-modal" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/read-bible_sm-tile.png" data-toggle="modal" data-target="#read-bible-modal" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/meet-jesus_sm-tile.png" data-toggle="modal" data-target="#meet-jesus-modal" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/img/baptism_sm-tile.png" data-toggle="modal" data-target="#get-baptized-modal" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/ownership_sm-tile.png" data-toggle="modal" data-target="#become-owner-modal" />
        </div>
        <div class="col-md-4">
            <img src="~/Content/img/finances_sm-tile.png" data-toggle="modal" data-target="#finances-modal" />
        </div>
    </div>

    <!-- life-groups-modal -->
    <div id="life-groups-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span class="emphasis">Life Groups</span></h3>
                </div>
                <div class="modal-body">
                    <h4>Life groups are all about people taking next steps - <strong>together</strong>.</h4>
                    <p>
                        We believe <i class="emphasis">you can't do life alone</i>, and that is the idea behind all of our life groups.
                        You'll grow in your walk with Jesus around people that will support you as your group moves
                        forward together. All people are from different walks of life, which is why we have groups
                        available for couples, coeds, men, women, students &amp; more!
                        <br />
                        Life is better when you live in community.
                        <br />
                        <br />
                        Restoration Church is a place to belong; get more information about life groups by visiting
                        the connection center on our campus.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rc-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- read-bible-modal -->
    <div id="read-bible-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span class="emphasis">Read Your Bible</span></h3>
                </div>
                <div class="modal-body">
                    <h4>Just <strong>10 minutes</strong> a day!</h4>
                    <p>
                        You can spare that, <i class="emphasis">right</i>?
                        <br />
                        Reading the Bible for <i>just</i> 10 minutes a day can change the <span class="emphasis">
                            rest of your life
                        </span>. But, why?
                        <ul>
                            <li>It is filled with stories of <span class="emphasis">hope</span></li>
                            <li>You'll be encouraged</li>
                            <li>Practical advice &amp; guidance for the issues we all face <span class="emphasis">every</span> day</li>
                        </ul>
                    </p>
                    <h5 class="text-center">
                        <i>All Scripture is God-breathed...</i>
                        <strong>2 Timothy 3:16</strong>
                    </h5>
                    <p>
                        You can't have a close relationship with someone you never talk to - it's <span class="emphasis">impossible</span>.
                        God wants relationship with us, and He uses the Bible as a way to communicate with us.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rc-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- meet-jesus-modal -->
    <div id="meet-jesus-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span class="emphasis">Meet Jesus</span></h3>
                </div>
                <div class="modal-body">
                    <h4>We call it <i class="emphasis">salvation</i>.</h4>
                    <p>
                        Everyone has an opinion about Jesus. Maybe you think He’s a great teacher or a prophet.
                        Maybe you think He didn’t exist at all. Whatever you believe, we can probably agree that Jesus changed things.
                        We believe He wants to change you, too.
                        <h5 class="text-center">
                            <i>
                                I am the way and the truth and the life. No one comes to the Father except through me.
                                If you really know me, you will know my Father as well.
                            </i><strong>John 14:6</strong>
                        </h5>

                        Jesus claimed He knew God. No big deal, right? Plenty of people make the same claim.
                        But Jesus also said He was God. And this upset the religious leaders of His day so much that they killed Him.
                        But that was 2,000 years ago. Why does it matter to you now? How does who Jesus is and what He’s done
                        affect your life now in your 9 to 5, trying to take care of your kids, paying bills, or just keeping your
                        head above water?

                        God, the Creator of the universe, has a <span class="emphasis">purpose</span> for you and your life.
                        <span class="emphasis">He loves you</span> and wants to help you because He is a good God.
                        And because of that, His plans are better than your plans. You <strong>don’t</strong> have to measure
                        up to some impossible <span class="emphasis">religious standard</span> to know Him.
                        You just have to take a few simple steps.

                        <h5 class="text-center">
                            <i>
                                If you declare with your mouth, ‘Jesus is Lord,‘ and believe in your heart that God raised him from
                                the dead, you will be saved.
                            </i>
                            <strong>Romans 10:9</strong>
                        </h5>

                        <span class="emphasis">You don't have to be perfect</span>. Through His death on the cross, and then coming back from the dead,
                        Jesus took all of your wrong and gave you all of His right. If you believe that and commit to following Him,
                        your life will never be the same. It’s as simple as repenting of your sin, declaring you want to follow Jesus,
                        and believing He is who He says He is.

                        Believing in Jesus is the <i>first step</i> on the greatest journey of your life.
                        You haven’t finished the race — you’ve just gotten started. <span class="emphasis">The best is yet to come!</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rc-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- get-baptized-modal -->
    <div id="get-baptized-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span class="emphasis">Get Baptized</span></h3>
                </div>
                <div class="modal-body">
                    <h4>
                        It's about going public. If you have questions, <strong>don't worry</strong>,
                        <span class="emphasis">you're not alone</span>
                    </h4>
                    <p>
                        <i>Common Questions about Baptism</i>
                        <ul>
                            <li>
                                <strong>What is baptism?</strong>
                                <br />
                                It's an <span class="emphasis">outward</span> expression of an <span class="emphasis">inward</span>
                                change. To put it simply - <i>you showing others how Jesus changed your life.</i>
                                <br />
                                Being baptized shows others that you've decided to follow Jesus, and allows them to
                                <span class="emphasis">celebrate</span> <i>with</i> you
                                <br />
                                <br />
                            </li>
                            <li>
                                <strong>Why should I be baptized?</strong>
                                <br />
                                Jesus instructus us to be baptized - after all, <span class="emphasis">He did it too</span>!
                                <br />
                                <br />
                            </li>
                            <li>
                                <strong>When's the best time to be baptized?</strong>
                                <br />
                                Any time is a good time! Every person who has decided &amp; committed to
                                <span class="emphasis">follow Jesus</span> is ready
                                <br />
                                <br />
                            </li>
                            <li>
                                <strong>Do you baptize children?</strong>
                                <br />
                                As parents, we can help point our children to Jesus, but they are the ones who decide if they
                                will <span class="emphasis">follow </span><strong>Him.</strong>
                                <br />
                                At Restoration, we <span class="emphasis">wait</span> until children are old enough to express their
                                <strong>own decision</strong> to follow Jesus &amp; understand the
                                <span class="emphasis">meaning</span> of baptism.
                                <br />
                                <br />
                            </li>
                            <li>
                                <strong>What's the difference between immersing, sprinkling, &amp; other ways of baptizing?</strong>
                                <br />
                                In the Bible, baptisms were done by <span class="emphasis">full immersion</span>. The original
                                word for baptism most often referred to being <span class="emphasis">immersed or submerged</span>
                                in water - even <strong>Jesus</strong> was baptized this way!
                                <br />
                                <br />
                                For us, being fully sumerged underwater is symbolic of our <span class="emphasis">death to sin</span> &amp;
                                the <i>old way</i> of life, while being raised out of the water represents the
                                <span class="emphasis">fresh start </span> we've been given through Jesus' <strong>
                                    death, burial &amp;
                                    resurrection
                                </strong>!
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rc-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- become-owner-modal -->
    <div id="become-owner-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span class="emphasis">Become an Owner</span></h3>
                </div>
                <div class="modal-body">
                    <h4>
                        We believe that <span class="emphasis">every Christian</span> should be a co-<i>owner</i>
                        of a church!
                    </h4>
                    <p>
                        <span class="emphasis">Members have rights, <i>owners</i> have responsibilities</span>
                        <br />
                        If you're interested in becoming a <i>co-owner</i> of <span class="emphasis">
                            Restoration Church (&amp; at least 12 years old)
                        </span>, we'd love to have you take part in one of our quarterly ownership
                        classes. You'll learn the <strong>vision &amp; values</strong> that we make up our DNA:
                        <ul>
                            <li><strong>Found People Find People</strong></li>
                            <li><strong>Saved People Serve People</strong></li>
                            <li><strong>Growing People Change</strong></li>
                            <li><strong>You Can't Do Life Alone</strong></li>
                            <li><strong>You Can't Outgive God</strong></li>
                        </ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rc-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- finances-modal -->
    <div id="finances-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><span class="emphasis">Finances</span></h3>
                </div>
                <div class="modal-body">
                    <h4>How to win...<strong>with</strong> your <span class="emphasis">money</span>!</h4>
                    <p>
                        God's got the <strong>best</strong> way to handle <i>every</i> circumstance that we deal with
                        in our lives - <span class="emphasis">our finances</span> aren't any different. When we manage
                        our finances God's way, the results are <span class="emphasis">life-changing</span>.
                        <br />
                        What's your next financial step? Is it
                        <ul>
                            <li>
                                <span class="emphasis">tithing?</span>
                            </li>
                            <li>
                                <span class="emphasis">budgeting?</span>
                            </li>
                            <li>
                                <span class="emphasis">one-on-one financial coaching?</span>
                            </li>
                        </ul>
                        <br />
                        We teach about <i>money</i> at <span class="emphasis">Restoration</span>, but <strong>not just</strong>
                        tithing. We teach about <i>how God wants people to handle their finances</i> - because He wants everything
                        <strong>for</strong> you, <span class="emphasis">not from</span> you!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn rc-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $().ready(function () {
            //on page load, if the user clicked "Life Groups" img on Index page, auto load the modal
            if (localStorage.getItem("prevPath") == "/Home/Index"
                || localStorage.getItem("prevPath") == "/"
                || localStorage.getItem("prevPath") == "/Home"
                || localStorage.getItem("prevPath") == "/Home/") {
                $('#life-groups-modal').modal('show');
            };
            //remove the local variable after use
            localStorage.removeItem("prevPath");
        });
    </script>
}