@model IEnumerable<rcliberty.Web.Models.PodcastModels.Series>

@{
    ViewBag.Title = "Media";
}

<h2>Media</h2>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <h2>@item.Name</h2>
        <p>@item.Id</p>
        <img class="series-img" src="~/Content/img/series/@item.Image" />
    </div>
}