
@{
    ViewBag.Title = "Ministries";
}


@*<tr>
        <td height="619"></td>
        <td></td>
        <td valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <!--DWLayoutTable-->
                <tr>
                    <td width="11" height="363">&nbsp;</td>
                    <td colspan="2" valign="top">
                        <h1 align="left" class="cushycms style4 style15" title="My Heading">LIFE AT RESTORATION</h1>                   <div class="cushycms" title="Main Content">
                            <p align="left" class="style4">
                                <strong>The Experience- </strong>This is our weekly service we have here at Restoration Church. Each week you'll experience modern music and a relevant, engaging message from our Lead Pastor JP Stafford or other speakers. Grab a cup of coffee from our Hospitality area and enjoy this time with us.<br />
                                &nbsp;<br />
                                <strong>RC Kids-</strong> For babies&ndash;5th grade, RC Kids is a children&rsquo;s ministry uniquely designed with your child in mind! Kids experience safe, age-appropriate environments where the Bible is taught in a creative and relevant way. We are so passionate about kids learning about Jesus in a way they can understand.<br />
                                &nbsp;<br />
                                <strong>WHAT TO EXPECT</strong>
                            </p>
                            <p class="style4">
                                <strong>First Time Here?</strong><br />
                                Look for the area designated to check your child into our database system, and one of our volunteers will lead your child to their age-appropriate room.
                            </p>
                            <p class="style4">We will ask for the following personal information: family members' names, children&rsquo;s names and birthdates, address, phone number, and any special instructions (allergies, special needs) for your child.                      </p>
                        </div>
                    </td>
                    <td width="14">&nbsp;</td>
                </tr>
                <tr>
                    <td height="13"></td>
                    <td width="200"></td>
                    <td width="569"></td>
                    <td></td>
                </tr>
                <tr>
                    <td height="47"></td>
                    <td></td>
                    <td rowspan="2" valign="top">
                        <div class="cushycms" title="Main Content">
                            <p class="style4">
                                How Does Check-In Work?
                                You may check in your child at our child check-in station. After finding your childs name in the database, you and your child will be given matching identification tags that are exclusive to your family and your visit. Your child will need to wear the name tag portion while you keep the matching tag. After the service, you will return to your childs room and show your tag in order for your child to be released back to you.
                            </p>
                            <p class="style4">In the event that we need to contact you during the service, childs last name and identification code will appear on the screen in the auditorium. We ask that you exit the auditorium immediately and look for a staff member or volunteer who will direct you to your childs room.</p>
                        </div>                   
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td height="172"></td>
                    <td valign="top"><img src="images/rc_kids_logo.png" width="200" height="140" /></td>
                    <td></td>
                </tr>





                <tr>
                    <td height="13"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td height="78"></td>
                    <td colspan="2" valign="top">
                        <div class="cushycms" title="Main Content">
                            <p class="style17">The Capitol</p>
                            <p class="style4">For students in 612th grade, The Capitol is dedicated to providing a place for them to connect with God, other students, and older leaders who serve faithfully to see students grow closer to Christ. The Capitol meets every Sunday night in the Main Auditorium.</p>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td height="14"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>



            </table>
        </td>
        <td></td>
    </tr>*@