/*****************
    site wide 
*****************/
.field-validation-error,
.text-danger,
.validation-summary-errors /* error messages (validation) */
{
    color: #e00006;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}

span /* keywords/highlights */,
.testimonial-meta > span
{
    color: #b7a602;
    font-weight: bold;
    /*text-shadow: 2px 2px 2px #000;*/
}

.home-content > h1,
.section-header > .title
{
    text-transform: none;
}

.theCapitol-main
{
    font-size: 6.5em;
    text-shadow: 5px 5px 5px #000;
}

.sub-text,
.sub-text:hover
{
    font-size: 2.5em;
    font-style: italic;
    color: #fff;
}

    .sub-text > span
    {
        text-shadow: 5px 5px 5px #000;
    }

.content-wrapper /* wrap RenderBody() content */
{
    margin: 1.5em 1.5em 1.5em 1.5em;
}

.btn-default
{
    font-weight: bold;
    border: 1px solid #000;
}

    .btn-default:hover
    {
        background-color: #b7a602;
        color: #000;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid #000;
    }

.page-title /* page "title" text */
{
    font-size: 5em;
    text-shadow: 3px 3px 3px #b7a602;
}

.section-header /* override .section-header in style.css */
{
    margin: 0;
}
/*****************
    navigation 
*****************/
#nav > div > ul > li > a
{
    font-size: 1.1em;
}

.main-nav > li > a:hover,
.main-nav > li > a:focus,
.main-nav > li.active > a
{
    background: transparent;
    color: #b7a602;
}

    .main-nav > li > a:hover:after, .main-nav > li > .active > a:after
    {
        width: 100%;
    }

@media only screen and (min-width: 768px)
{
    /* ':after' is the _______ AFTER (under) the link */
    .main-nav > li > a:after
    {
        background-color: #b7a602;
    }
}

/*****************
     register 
*****************/
/*#register
{
    padding: 2em;
}*/

#register > form > h4
{
    font-size: 1.2em;
}

#register > h2,
#register > form > h4
{
    text-align: center;
}

.register-label
{
    color: #000;
    font-size: 20px;
}

#register > form > div.form-group > div > input[type=text],
#register > form > div.form-group > div > input[type=password]
{
    border: 2px solid #000;
}

/*****************
       login 
*****************/
#login
{
    padding: 2em;
}

    #login > div.row > div.col-md-12 > section#loginForm > form > h4
    {
        font-size: 1.2em;
    }

.login-label
{
    font-size: 20px;
    color: #000;
    text-align: right;
}

#login > div.row > section#loginForm > form > div.form-group > div > input[type=text],
#login > div.row > section#loginForm > form > div.form-group > div > input[type=password]
{
    border: 2px solid #000;
}

.remember-me > label
{
    font-weight: bold;
    color: #000;
}

#register-link
{
    text-align: center;
    color: #000;
    font-weight: bold;
}

    #register-link > a
    {
        color: #000;
        font-weight: bold;
        font-style: italic;
    }

/*****************
       index
*****************/
/*about*/
.about > i::before
{
    color: #6195FF;
    font-size: 2em;
}
/*why we exist*/
.feature /* override class in style.css */
{
    margin: 15px 0px;
    width: 45%; /* 2 features per "row" */
    float: left;
}

    .feature i
    {
        float: left;
        padding: 5px;
        border-radius: 50%;
        color: #6195FF;
        border: 1px solid #6195FF;
        margin-right: 5px;
        font-size: 1.3em;
    }

#about-slider
{
    clear: both;
}

/*.bg-img .overlay-union {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #000;
}*/
