
@{
    ViewBag.Title = "get in touch";
}

<div id="contact" class="section md-padding">
    <div class="container">
        <div class="row">
            <!-- section-header -->
            <div class="section-header text-center">
                <h2 class="title">@ViewBag.Title</h2>
            </div>
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-phone"></i>
                    <h3>Phone</h3>
                    <p>512-421-3940</p>
                </div>
            </div>
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-envelope"></i>
                    <h3>Email</h3>
                    <p>email@support.com</p>
                </div>
            </div>
            <!-- contact -->
            <div class="col-sm-4">
                <div class="contact">
                    <i class="fa fa-map-marker"></i>
                    <h3>Address</h3>
                    <p>1739 Bubby Drive</p>
                </div>
            </div>
            <!-- contact form -->
            <div class="col-md-8 col-md-offset-2">
                <form class="contact-form">
                    <input type="text" class="input" placeholder="Name">
                    <input type="email" class="input" placeholder="Email">
                    <input type="text" class="input" placeholder="Subject">
                    <textarea class="input" placeholder="Message"></textarea>
                    <button class="main-btn">Send message</button>
                </form>
            </div>
        </div>
    </div>
</div>