@{
    ViewBag.Title = "welcome to";
}

@section backgroundImage {
    <!-- background image -->
    <div class="bg-img" style="background-image: url('/Content/img/template/background1.jpg');">
        <div class="overlay"></div>
    </div>
}

@section homeWrapper {
    <!-- home wrapper -->
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <!-- home content -->
                <div class="col-md-10 col-md-offset-1">
                    <div class="home-content">
                        <h1 class="white-text theCapitol-main">welcome to the <span>Capitol</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- about -->
<div id="about" class="section md-padding">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h2 class="title">we are the <span>Capitol</span></h2>
            </div>
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-user"></i>
                    <h3>every person has a <span>name</span></h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-book"></i>
                    <h3>every name has a <span>story</span></h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about">
                    <i class="fa fa-heart"></i>
                    <h3>every story <span>matters</span> to God</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- testimonial -->
<div id="testimonial" class="section md-padding">
    <!-- background -->
    <div class="bg-img" style="background-image: url('/Content/img/union-station.jpg');">
        <div class="overlay"></div>
    </div>
    <div class="container">
        <div class="row">
            <!-- slider -->
            <div class="col-md-10 col-md-offset-1">
                <div id="testimonial-slider" class="owl-carousel owl-theme">
                    <!-- testimonial content -->
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="~/Content/img/template/perso1.jpg" alt="">
                            <h3 class="white-text">John Doe</h3>
                            <span>Web Designer</span>
                        </div>
                        <p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
                    </div>
                    <!-- testimonial content -->
                    <div class="testimonial">
                        <div class="testimonial-meta">
                            <img src="~/Content/img/template/perso2.jpg" alt="">
                            <h3 class="white-text">John Doe</h3>
                            <span>Web Designer</span>
                        </div>
                        <p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- why choose us -->
<div id="features" class="section md-padding bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-header">
                    <h2 class="title">why <span>we</span> exist</h2>
                </div>
                <p>
                    The <span>Capitol</span> exists to provide a safe place for <span>students</span> 6th - 12th grade to connect
                    with God, each other, and leaders who desire to see them grow closer to Christ. <br />
                    We meet <span>Sundays at 6pm</span> in the Main Auditorium of the RC Liberty campus.
                </p>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>engaging storytelling</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>energetic worship</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>illustrated messages</p>
                </div>
                <div class="feature">
                    <i class="fa fa-check"></i>
                    <p>a place to be <span>yourself</span></p>
                </div>
            </div>
            <!-- slider -->
            <div class="col-md-6">
                <div id="about-slider" class="owl-carousel owl-theme">
                    <img class="img-responsive" src="~/Content/img/template/about1.jpg" alt="">
                    <img class="img-responsive" src="~/Content/img/template/about2.jpg" alt="">
                    <img class="img-responsive" src="~/Content/img/template/about1.jpg" alt="">
                    <img class="img-responsive" src="~/Content/img/template/about2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>