
@{
    ViewBag.Title = "media";
}
<div id="portfolio" class="section md-padding bg-grey">
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <!-- section header -->
                <div class="section-header text-center">
                    <h2 class="page-title">@ViewBag.Title</h2>
                </div>
                <!-- work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="~/Content/img/template/work1.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a class="lightbox" href="~/Content/img/template/work1.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <!-- work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="~/Content/img/template/work2.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a class="lightbox" href="~/Content/img/template/work2.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <!-- work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="~/Content/img/template/work3.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a class="lightbox" href="~/Content/img/template/work3.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <!-- work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="~/Content/img/template/work4.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a class="lightbox" href="~/Content/img/template/work4.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <!-- work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="~/Content/img/template/work5.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a class="lightbox" href="~/Content/img/template/work5.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <!-- work -->
                <div class="col-md-4 col-xs-6 work">
                    <img class="img-responsive" src="~/Content/img/template/work6.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Category</span>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="work-link">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a class="lightbox" href="~/Content/img/template/work6.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>