
@{
    ViewBag.Title = "our team";
}

<div id="team" class="section md-padding">
    <div class="container">
        <div class="row">
            <!-- section header -->
            <div class="section-header text-center">
                <h2 class="page-title">@ViewBag.Title</h2>
            </div>
            <!-- team -->
            <div class="col-sm-4">
                <div class="team">
                    <div class="team-img">
                        <img class="img-responsive" src="~/Content/img/template/team1.jpg" alt="">
                        <div class="overlay">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3>John Doe</h3>
                        <span>Web Designer</span>
                    </div>
                </div>
            </div>
            <!-- team -->
            <div class="col-sm-4">
                <div class="team">
                    <div class="team-img">
                        <img class="img-responsive" src="~/Content/img/template/team2.jpg" alt="">
                        <div class="overlay">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3>John Doe</h3>
                        <span>Web Designer</span>
                    </div>
                </div>
            </div>
            <!-- team -->
            <div class="col-sm-4">
                <div class="team">
                    <div class="team-img">
                        <img class="img-responsive" src="~/Content/img/template/team3.jpg" alt="">
                        <div class="overlay">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content">
                        <h3>John Doe</h3>
                        <span>Web Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>